/* Here in the css file you'll write your styling. make sure to link the css file to the html file. If it's linked correctly you should see a light blue background. */
body {
  background-color: rosybrown;
  margin: 0;
}

header {
  height: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 50x;
  color:rgb(124, 118, 118);
  text-align: none;
}

h1 {
  font-size: 70px;
  color:whitesmoke;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-display: bold;
  text-align: center;
  padding: 20px;
  margin: 0;
   }

h2 {
  font-size: 30px;
  color: rgb(124, 118, 118);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-display: bold;
  text-align: right;
  position: relative;
}

h3 {
  font-size: 20px;
  color: whitesmoke;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-display: normal;
}

h4 {
  font-size: 20px;
  color: whitesmoke;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-display: bold;
  position: relative;
  left: +3em;
}

.colored-box {
  background-color: rgb(124, 118, 118);
  padding-bottom: 350px;
  padding-top: 100px;
  height: 200px;
  width: 100%;
}

.transparent-box {
  background-color: azure;
  width: 45%;
  min-width: 400px;
  height: 500px;
  padding: 50px;
  border: 5px dotted rosybrown; 
  position: relative; 
  top: -32.5em; 
  left: +40em;
  display: flex;  
}

.text-box {
  background-color: azure;
  float: right;
  padding: 10px 10px;
}

.transparent-box img {
  padding: 0px; 
  width: 60%;
  height: auto;
  margin: 0;  
}

.text-box {
  background-color: azure;
  font-size: 24px;
  color: rgb(124, 118, 118);
}

ul {
  list-style: none;
}

li {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 60x;
  font-style: normal;
  font-weight: bold;
  color:rgb(124, 118, 118)
}

.colored-stripe {
  background-color: rgb(124, 118, 118);
  padding-bottom: 10px;
  padding-top: 10px;
  height: 20px;
  width: 100%;  
}

.contact-box {
  background-color: rgb(124, 118, 118);
  color:whitesmoke;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  display: flex;
  align-items: left;
  justify-content: left;

  padding: 30px;
  border: 2px;
  border-radius: 3px;

  cursor: pointer;
  transition: all 0.5s;
}

.contact-box:hover {
  border: 2px dashed rgb(124, 118, 118);
  border-radius: 20px;
} 

.contact-box:active {
  border: 2 px dashed whitesmoke;
  background-color: whitesmoke;
}

menu {
  display: flex;
  align-items: right;
  justify-content: right;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

menu a {
  display: inline-block;
  padding: 10px 15px;
  background: whitesmoke;
  color: rgb(124, 118, 118);
  font-weight: bold;
  text-decoration: none;
  border-radius: 3px;
  margin: 0 5px;
}

menu a:hover {
  background: rgb(124, 118, 118);
  color: whitesmoke;
}

footer {
  position: fixed;
  padding: 1em;
  bottom: 0;
  left: 0;
  right: 0;
}